.endChat {
  padding-bottom: 100px;
}

.newForm {
  width: 80%;
  position: absolute;
  bottom: 0;
  background-color: #ececec;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

  input {
    flex: 1;
    padding: 20px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #2c2937;
  }

  button,
  label {
    color: #2c2937;
    border-radius: 50%;
    background-color: #ececec;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;

    img {
      width: 16px;
      height: 16px;
    }
  }

  button:hover,
  label:hover {
    color: #ececec;
    background-color: #dcdbdb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}
